<h1>Listing debts</h1>

<table>
  <% @debts.each do |debt| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	  <td class="list_description">
	    <dl>
		  <dt><%= debt.quantity %></dt>
		  <dt><%= debt.term %></dt>
		  <dt><%= debt.due_date %></dt>
        </dl>
      </td>

	  <td class"list_actions">
				<%= link_to 'Show', debt %> <br />
          <%= link_to 'Edit', edit_debt_path(debt) %> <br />
		  <%= link_to 'Destroy', debt, method: :delete, data: { confirm: 'Confirma la acción?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Nueva Deuda', new_debt_path %>
