<% if notice %>
		<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Cart</h2> 
<table>
  <% @cart.line_debts.each do |item| %> 
    <tr>
      <td><%= item.quantity %>&times; </td>
      <td><%= item.debt.quantity %></td>
      <td class="item_quantity"><%= number_to_currency(item.quantity * item.debt.quantity) %> </td>
    </tr> 
  <% end %>
  
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_debt) %></td>
  </tr>
</table>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>

